[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000; /*объявили переменную --color*/
    --background: #DDEEFF;/*объявили переменную ----background*/
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background); /*для html будет использовать переменная --background из записей выше*/
    color: var(--color);/*здесь будет использовать переменная --background из записей выше*/
}

.select {

}
