.buttonsContainer {
}

.responseContainer {
    display: flex;

    justify-content: space-around;
}

.imageContainer {
    margin-top: 30px;
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.code {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.text {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.info {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bolder;
}